include /mixins/forms.pug
include /mixins/flash.pug

doctype html
html(lang='en')
  head
    title= pageTitle
    script(src='/assets/main.js')
  body
    nav.navbar.navbar-expand-md.navbar-dark.sticky-top(style='background-color: #9d76ba')
      a.navbar-brand(href=urlFor('root')) Task Manager
      button.navbar-toggler(data-toggle="collapse" data-target="#navbarCollapse")
        span.navbar-toggler-icon
      .collapse.navbar-collapse(id='navbarCollapse')
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href=urlFor('about')) About
        ul.navbar-nav
          //- isSigned()
          //- else
          li.nav-item
            a.nav-link(href=urlFor('newSession')) Sign In
          li.nav-item
            a.nav-link(href=urlFor('newUser')) Sign Up
    main.container
      +flashMessage()
      block content
