extends /layouts/card.pug

block header
  h1= task.name
  - const tagColor = 'feb062';
  each tag in task.tags
    span.badge.m-1(style=`background-color: #${tagColor}`)= tag.name
block cardContent
  table.table.table-borderless.table-sm
    tbody
      tr
        th(scope='row') Status:
        td= task.status.name
      tr
        th(scope='row') Assigned To:
        td
          a(href=urlFor('users#show', task.assignee.id))= task.assignee.fullName
      tr
        th(scope='row') Description:
        td= task.description
      tr
        th(scope='row') Creator:
        td
          a(href=urlFor('users#show', task.creator.id))= task.creator.fullName
      tr
        th(scope='row') Id:
        td= task.id
  if isSignedIn()
    form(action=urlFor('tasks#update', task.id) method='put')
    a.btn.btn-info.btn-lg.m-2(href=urlFor('tasks#edit', task.id)) Edit
    a.btn.btn-outline-danger.btn-lg.m-2(href=urlFor('task#delete', task.id)) Delete
