extends /layouts/card.pug

block header
  h1= task.name
block cardContent
  table.table.table-borderless.table-sm
    tbody
      tr
        th(scope='row') Status:
        td= task.status.name
      tr
        th(scope='row') Assigned To:
        td
          a(href=urlFor('user', task.assignee.id))= task.assignee.fullName
      tr
        th(scope='row') Description:
        td= task.description
      tr
        th(scope='row') Creator:
        td
          a(href=urlFor('user', task.creator.id))= task.creator.fullName
      tr
        th(scope='row') Id:
        td= task.id
  if isSignedIn()
    a.btn.btn-info.btn-lg.m-2(href=urlFor('editTask', task.id)) Edit
    a.btn.btn-outline-danger.btn-lg.m-2(href=urlFor('deleteTask', task.id)) Delete
