extends /layouts/application.pug

block content
  table.table.table-striped.table-hover
    caption List of users
    thead
      tr
        th(scope='col') #
        th(scope='col') First name
        th(scope='col') Last name
        th(scope='col') Email
    tbody
      - let counter = 0
      each user in users
        - counter += 1
        tr
          th(scope='row')= counter
          td= user.first_name || `${user.id.slice(0, 8)}...`
          td= user.last_name
          td= user.email
