extends /layouts/userCard.pug

block cardContent
  +formFor({ url: urlFor('userSettings'), method: 'put' })
    +input('email', 'Email', { autofocus: true })
    +input('firstName', 'first Name')
    +input('lastName', 'Last Name')
    button.btn.btn-success.btn-lg.m-2(type='submit') Save
    a.btn.btn-outline-danger.btn-lg.m-2(href=urlFor('userPage')) Cancel


  //- form(action=urlFor('userSettings') method='post' rel='nofollow')
  //-   input(name='_method' type='hidden' value='put')
  //-   table.table.table-borderless.table-sm
  //-     tbody
  //-       tr
  //-         th(scope='row' style='width: 10%') Email:
  //-         td
  //-           input.form-control(value=user.email name='email')
  //-       tr
  //-         th(scope='row') First Name:
  //-         td
  //-           input.form-control(value=user.firstName name='firstName')
  //-       tr
  //-         th(scope='row') Last Name:
  //-         td
  //-           input.form-control(value=user.lastName name='lastName')
  //-   button.btn.btn-success.btn-lg.m-2(type='submit') Save
  //-   a.btn.btn-outline-danger.btn-lg.m-2(href=urlFor('userPage')) Cancel
